:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


table ,tr td{
  // border:1px solid red
}
tbody {
  display:block;
  height:400px;
  overflow:auto;
}
.table td, .table th {
  font-weight: 400 !important;
  text-align: right;
  border: 1px solid #e3e3e3 !important;
  padding: 2px 4px!important;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
  width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
  width: 1000px;
}