<div id="mainContent">
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-item col-12">
        <div class="bd bgc-white">
          <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
              <div class="layers">
                <div class="table-responsive">
                  <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%" height="500px"></iframe>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="masonry-item col-12">
        <div class="bd bgc-white">
          <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
              <div class="layers">
                <div class="table-responsive">
                  <iframe src="https://ourworldindata.org/grapher/case-fatality-rate-of-covid-19-vs-median-age?time=2020-01-19..2020-05-20" width="100%" height="500px"></iframe>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="masonry-item col-12">
        <div class="bd bgc-white">
          <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
              <div class="layers">
                <div class="table-responsive">
                  <iframe src="https://ourworldindata.org/grapher/deaths-from-covid-by-source" width="100%" height="500px"></iframe>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>