<div id="mainContent">
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-item col-12">
        <div class="bd bgc-white">
          <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
              <div class="layers">
                <div class="table-responsive">
                  <img src="https://sagemaker-ap-south-1-599425177946.s3.ap-south-1.amazonaws.com/active.png" width="100%" height="500px">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="masonry-item col-12">
        <div class="bd bgc-white">
          <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
              <div class="layers">
                <div class="table-responsive">
                  <img src="https://sagemaker-ap-south-1-599425177946.s3.ap-south-1.amazonaws.com/casesPerOneMillion.png" width="100%" height="500px">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="masonry-item col-12">
        <div class="bd bgc-white">
          <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
              <div class="layers">
                <div class="table-responsive">
                  <img src="https://sagemaker-ap-south-1-599425177946.s3.ap-south-1.amazonaws.com/deathsPerOneMillion.png" width="100%" height="500px">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="masonry-item col-12">
        <div class="bd bgc-white">
          <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
              <div class="layers">
                <div class="table-responsive">
                  <img src="https://sagemaker-ap-south-1-599425177946.s3.ap-south-1.amazonaws.com/recovered.png" width="100%" height="500px">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      
    </div>
  </div>